@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #1E1E2A;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: mediumpurple;
    height: 8vh;
}

h2{
    padding: 0.1em;
}

form{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}

form input, button{
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
}

form button{
    cursor: pointer;
    background: none;
    color: whitesmoke;
}

form button:hover{
    background-color: whitesmoke;
    color: mediumpurple;
}

main{
    background-color: rgb(147, 126, 189, 0.5);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.parte-principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.quadrado{
    background-color: rebeccapurple;
    border: 0.02em solid white;
    margin: 0.4em;
    border-radius: 1em;
    width: 20vw;
    text-align: center;
    flex-grow: 1;
}

.texto h1{
        font-size: 1.2em;
        color: #1E1E2A;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
}

.texto h1:hover{
    background-color: rgb(248, 248, 248, 0.2);
}

.card-video{
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.card-video video{
    width: 100%;
    height: 100%;
}

footer{
    align-items: center;
    justify-content: space-between;
    background-color: mediumpurple;
    display: flex;
    height: 8vh;
}

.roxinho{
    margin-left: 35em;
}

#botao-footer{
    background-color: whitesmoke;
    color: mediumpurple;
    cursor: pointer;
    margin: 0.1em;
}
#botao-footer:hover{
    background-color: mediumpurple;
    color: whitesmoke;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
}
